<%- include('./partials/header.ejs') %>
<h1>Edit <%=coin.name%></h1>

<form action='/coin/<%= coin.id %>?_method= PUT' method='POST'>
        Name: <input type='text' name='name' value='<%=coin.name%>'/>
 <br>
       Denomination: <input type='text' name='denomination' value='<%=coin.denomination%>'/>
 <br>       
       Year: <input type='number' name='year' value='<%=coin.year%>'/>
 <br>       
        Worth: <input type='number' name='worth' value='<%=coin.worth%>'/>
 <br>       
       Notable Characteristics: <input type='text' name='tags' value='<%=coin.tags%>'/>
 <br>
        <input type='submit' value='Edit Coin'>
</form>
<%- include('./partials/footer.ejs') %>
