<%- include('./partials/header.ejs') %>
    <h1>$ COIN COLLECTOR $</h1>
    <table>
        <% for (let i=0; i < coins.length; i++) { %>
            <tr>
            <td>
            <th scope= "row"><a href='/coins/<%=i%>'><%=coins[i].name%></a>
            </td>
            </th>
            <td>
                    <!-- ADD DELETE FORM HERE-->
            <th scope= "row"><input type="submit" value="DELETE"/>
            </td>
            </th>
            <td>
            <th scope= "row"></form><a href="/coins/<%=i%>/edit"> Edit This Coin </a>
            </td>
            </th>
            </tr>
       <%}%>
    </table>
<%- include('./partials/footer.ejs') %>