<%- include('./partials/header.ejs') %>
    <h1>$ COIN COLLECTOR $</h1>
    <div class="flex-container">
        <div><% for (let i=0; i < coins.length; i++) { %>
        <div><a href='/coins/<%=coins[i].id%>'><%=coins[i].name%></a>
        <div><a href='/coins/<%=coins[i].id%>/edit'> Edit Coin </a>
        <div><form action='/coins/<%=coins[i].id%>?_method=DELETE' method='POST'>
        <div><input type='submit' value='Delete'>
    </div>
    <%}%>
<%- include('./partials/footer.ejs') %>