<%- include('./partials/header.ejs') %>
    <h1>$ COIN COLLECTOR $</h1>
    <body>
    <div id="container">
        <div class="card">
        <div class="card__details">
        <div><% for (let i=0; i < coins.length; i++) { %>
        <a href='/coins/<%=coins[i].id%>'><%=coins[i].name%></a>
        <a href='/coins/<%=coins[i].id%>/edit'>Edit</a>
        <img src="https://i.imgur.com/5XcQaXIt.png">
        <form action='/coins/<%=coins[i].id%>?_method=DELETE' method='POST'></form>
        <input type='submit' value='Delete'>
<br>
    </body>     
    <%}%>   
    
    
<%- include('./partials/footer.ejs') %>
