<%- include('./partials/header.ejs') %>
    <h1>$ COIN COLLECTOR $</h1>
    <table>
        <% for (let i=0; i < coins.length; i++) { %>
            <tr>
            <td>
            <th scope= 'row'><a href='/coins/<%=coins[i].id%>'><%=coins[i].name%></a>
            </td>
            </th>
            <td>
                    <!-- ADD DELETE FORM HERE-->
    <form action='/coins/<%=coins[i].id%>?_method=DELETE' method='POST'>
    <input type='submit' value='Delete'>
    </form>
            </td>
            </th>
            <td>
            <th scope= 'row'></form><a href='/coins/<%=coins[i].id%>/edit'> Edit This Coin </a>
            </td>
            </th>
            </tr>
       <%}%>
    </table>
<%- include('./partials/footer.ejs') %>