<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Coin</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
      <h1>Add A Coin</h1>
      <form action="/coins" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%=coins.name%>"/>

        <label for="denom">Denomination</label>
        <input type="text" name="denomination" id="denomination" value="<%=coins.denomination%>"/>
        
        <label for="year">Year</label>
        <input type="number" name="year" id="year" value="<%=coins.year%>"/>
        
        <label for="worth">Worth</label>
        <input type="number" name="worth" id="worth" value="<%=coins.worth%>"/>
        
        <label for="tags">Notable Characteristics</label>
        <input type="text" name="tags" id="tags" value="<%=coins.tags%>"/>

        <input type="submit" value="Add Coin">
      </form>
    </body>
</html>