<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fruits App</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Coins Show Page</h1>
    <h2><%=coin.name%></h2>
    <h3><%=coin.denomination%></h3>
    <h3><%=coin.year%></h3>
    <h3><%=coin.worth%></h3>
    <h3><%=coin.tags%></h3>
    <img src="<%=coin.img%>" alt="<%=coin.name%>">
    <a href="/coin">Back to Index Page</a>
</body>

</html>


