<%- include('./partials/header.ejs') %>

<h1><%=coin.year%> <%=coin.name%></h1>

<h3>
Denomination: <%=coin.denomination%>
</h3>
<h3>
Worth: $<%=coin.worth%>
</h3>
<h3>
Unique Identifiers: <%=coin.tags%>
</h3>
<br>
<%- include('./partials/footer.ejs') %>
