<%- include('./partials/header.ejs') %>
<div container=
    <ul>
        <h2><%=coins.name%></h2>
        <h3>Denomination: <%= coins.denomination %></h3>
        <h3>Year: <%= coins.year %></h3>
        <h3>Worth: <%= coins.worth %></h3>
        <h3>Unique Identifiers: <%= coins.tags %></h3>
    </ul>
</div>
<br>
<button><a href="/coins/">Back</a></button>
<%- include('./partials/footer.ejs') %>

