<%- include('./partials/header.ejs') %>
    <ul>
        <h2> <%= coin.name %></h2>
        <h3>Denomination: <%= coin.denomination; %></h3>
        <h3>Year: <%= coin.year; %></h3>
        <h3>Worth: <%= coin.worth; %></h3>
        <h3>Unique Identifiers: <%= coin.tags; %></h3>
    </ul>

<br>
<button><a href="/coins/">Back</a></button>
<%- include('./partials/footer.ejs') %>

