<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Coin Collector</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Coins Show Page</h1>
    <h2><%=coins.name%></h2>
    <h3><%=coins.denomination%></h3>
    <h3><%=coins.year%></h3>
    <h3><%=coins.worth%></h3>
    <h3><%=coins.tags%></h3>
    <img src="<%=coins.img%>" alt="<%=coins.name%>">
    <a href="/coins">Back to Index Page</a>
</body>

</html>


