<%- include('./partials/header.ejs') %>

Name: <%=coin.name%>
Denomination: <%=coin.denomination%>
Year: <%=coin.year%>
Worth: <%=coin.worth%>
Unique Identifiers: <%=coin.tags%>

<br>
<button><a href='/coins/''>Back</a></button>

<%- include('./partials/footer.ejs') %>
